.set_title {
  font-size: 45px;
  font-family: sans, helvetica, serif;
  display: block;
  color: #808080;
  text-align: center;
}

.question, .submit_choice {
  text-align: center;
}

.add-space-at-top {
  padding-top: 90px;
}
