.index-page {
  padding-top: 50px;

  li {
    margin-bottom: 15px;
  }
}

.header {
  h2 .title.row-centered {
    word-spacing: -3px;
    letter-spacing: -2px;
  }

  h2 .title.row-centered span {
    display: inline-block;
  }

  h2 .title.row-centered span.dark {
    color: #000;
  }
}

.set_title, .set_subtitle {
  font-family: sans, helvetica, serif;
  display: block;
  color: #808080;
  text-align: center;
}

.set_title {
  font-size: 30px;
  padding-top: 30px;
}

.set_subtitle {
  font-size: 20px;
  padding: 10px 0;
}

.question, .submit_choice {
  padding-bottom: 30px;
  text-align: center;

  img {
    display: inline;
  }
}

.submit_choice {
  padding-bottom: 20px;
}

.option {
  margin-top: 20px;

  .option-text {
    font-size: 20px;
  }
}
.add-space-at-top {
  padding-top: 90px;
}

.add-space-at-bottom {
  padding-bottom: 50px;
}

.legend {
  padding-top: 20px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}

.popover{
  max-width: 400px; /* Max Width of the popover (depending on the container!) */
}

.thank-you {
  padding: 20px;
}

.progress {
  height: 40px;
}

.progress-bar {
  font-size: 20px;
  line-height: 44px;
}

