.row.row-centered
  .col-md-8.col-md-offset-2.thank-you
    %h2 Thank you for your participation! You can now close your browser.
.row
  .col-md-8.col-md-offset-2.submit_choice= render 'progress_bar'
